body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  border: 1px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #666000;
  color: white;
  padding: 10px 20px;
}

header .Profile img {
  height: 50px;
}

header .search input {
  padding: 5px;
  font-size: 16px;
}

nav {
  background-color: transparent;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  height: 75vh;
  /* border: 1px solid green; */
  margin: 1rem;
}

aside {
  width: 200px;
  background-color: #333;
  padding: 20px;
  /* height: 100%; */
}

aside h2 {
  margin-top: 0;
  color: white;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  text-decoration: none;
  color: #333;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #408056;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}